<% stylesheet 'foreman_upman/widget' %>
<h4 class="header"><%= _('Update Mananager') %></h4>
<ul>
  <li><span class="label" style="background-color:#4572A7">&nbsp;</span><a class="dashboard-links" href="">Aktuell</a><h4>0</h4></li>
  <li><span class="label" style="background-color:#AA4643">&nbsp;</span><a class="dashboard-links" href="">Updates verfügbar</a><h4>0</h4></li>
  <li><span class="label" style="background-color:#89A54E">&nbsp;</span><a class="dashboard-links" href="">Kritische Sicherheitslücken</a><h4>0</h4></li>
  <li><span class="label" style="background-color:#92A8CD">&nbsp;</span><a class="dashboard-links" href="">Systeme mit deaktivierten Alarmen</a><h4>0</h4></li>
  <h4 class="total">Hosts gesamt: 0</h4>
</ul>